<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FinalSiteConstituentsExporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <FinalSiteConstituentsExporter.Properties.Settings>
            <setting name="startDate" serializeAs="String">
                <value>01/01/2016</value>
            </setting>
            <setting name="outputDir" serializeAs="String">
                <value>c:\</value>
            </setting>
            <setting name="userName" serializeAs="String">
                <value/>
            </setting>
            <setting name="userPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="apiKey" serializeAs="String">
                <value>0357D83A88AA320BE9194A00D753B5686CBC9547AFD0B6A7E54F9C84B064FBAD</value>
            </setting>
            <setting name="startDateLast" serializeAs="String">
                <value>01/01/2016</value>
            </setting>
        </FinalSiteConstituentsExporter.Properties.Settings>
    </userSettings>
</configuration>
